.form {
  font-size: 18px;
  line-height: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__button {
    display: block;
    margin: 6px auto;
    background-color: #2aab6d;
    width: 286px;
    line-height: 24px;
    font-size: 19px;
    text-transform: uppercase;
    border-radius: 7px;
    min-height: 71px;

    &:hover {
      background-color: #1c9b5e;
    }

    &:active {
      background-color: #1c9b5e;
      color: rgba(255, 255, 255, 0.3);
    }

    &--disabled {
      background-color: rgba(0, 0, 0, 0.3);
    }
  }

  &__fieldset {
    border: 0;
    margin: 0;
    padding: 0 0 28px;

    div {
      display: flex;
      flex-direction: column;
      padding-left: 4px;
      margin-bottom: 13px;
    }

    &--name {
      order: 1;
    }

    &--contact-data {
      order: 3;
      padding-top: 28px;
      padding-bottom: 15px;

      .form__legend {
        display: none;
      }
    }

    &--app {
      width: 100%;
      order: 4;
      background-color: @light-background;
      padding: 0 0 7px;

      .form__item {
        margin-bottom: 34px;
      }

      .form__input-container {
        margin-bottom: 34px;
      }

      .form__legend {
        margin-bottom: 36px;
      }
    }

    &--emotions {
      padding: 0 21px 30px;
      order: 5;

      .form__legend {
        margin-bottom: 17px;
      }
    }

    &--achievments {
      width: 100%;
      order: 2;
      background-color: @light-background;
      padding: 0;

      div {
        padding-left: 28px;
        margin: 0 auto 42px;
      }
    }
  }

  &__legend {
    display: block;
    color: @pink;
    text-align: center;
    text-transform: uppercase;
    font-size: 14px;
    padding-top: 37px;
    line-height: 19px;
    margin-bottom: 38px;
  }

  &__item {
    position: relative;
    min-height: 40px;
    margin-bottom: 42px;
    width: 280px;

    &-containter {
      margin: 0;
      padding: 0;
      list-style: none;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }

  &__intstructions {
    display: none;
  }

  &__input {
    border: 2px solid @light-background;

    &:hover {
      border-color: black;
    }

    &:active {
      border-color: @pink;
    }

    &--text {
      color: @dark-background;
      font-size: 18px;
      height: 56px;
      width: 255px;
      padding-left: 19px;
    }

    &--textarea {
      font-family: "Open Sans Light", "Arial", serif;
      font-weight: 700;
      font-size: 19px;
      border: 2px solid @light-background;
      padding: 14px 19px;
      line-height: 31px;
      width: 238px;
      min-height: 170px;

      &:hover {
        border-color: black;
      }

      &:active {
        border-color: @pink;
      }
    }
  }

  &__label {
    padding-left: 71px;
    line-height: 34px;

    &--contact {
      text-transform: uppercase;
      font-size: 14px;
      padding-left: 22px;
      margin-bottom: 5px;
      color: @pink;
    }
  }

  &__notice {
    text-transform: uppercase;
    display: block;
    width: 100%;
    text-align: center;
    margin: 32px 0 67px;
    font-size: 14px;

    sup {
      color: @pink;
      font-size: 14px;
      top: 0;
    }

    &--extended {
      display: none;
    }
  }
}

.form__checkbox:checked + .form__label::before {
  background-image: url("../img/icon-yes-form.svg");
}

.form__checkbox + .form__label::before {
  content: "";
  position: absolute;
  left: 0;
  display: inline-block;
  width: 35px;
  height: 35px;
  border: 2px solid #e5e5e5;
  background-color: white;
  background-repeat: no-repeat;
  background-position: center;
  color: white;
}

.form__checkbox:hover + .form__label::before {
  border: 2px solid black;
}

.form__checkbox:active + .form__label::before {
  border: 2px solid @pink;
  background-image: url("../img/icon-yes-form.svg");
}

.form__checkbox:checked:active + .form__label::before {
  background-image: none;
}

.form__radio:checked + .form__label::before {
  background-image: url("../img/icon-map-marker.svg");
}

.form__radio + .form__label::before {
  content: "";
  position: absolute;
  left: 0;
  top: -3px;
  display: inline-block;
  background-color: white;
  width: 40px;
  height: 40px;
  border: 2px solid #e5e5e5;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: center;
}

.form__radio:hover + .form__label::before {
  border: 2px solid @dark-background;
}

.form__radio:active + .form__label::before {
  border: 2px solid @pink;
  background-image: url("../img/icon-map-marker.svg");
}

.form__radio:checked:active + .form__label::before {
  background-image: none;
}

@media (min-width: @tablet-width) {
  .form {
    margin-bottom: 63px;

    &__button {
      margin: 0;
      width: 305px;
    }

    &__label {
      &--contact {
        padding-left: 0;
        margin-top: 24px;
        margin-left: -4px;
        padding-right: 21px;
      }
    }

    &__legend {
      padding-top: 0;

      br {
        display: none;
      }
    }

    &__item {
      &-containter {
        margin-left: 59px;
        margin-top: 38px;
        align-items: flex-start;
      }
    }

    &__input {
      &--text {
        width: 100%;
        margin: 10px 0 43px;
      }

      &--textarea {
        margin: 21px auto 43px 59px;
        width: 459px;
        min-height: 161px;
      }
    }

    &__fieldset {
      div {
        padding-left: 0;
        margin: 0 20px;
        flex-direction: row;
      }

      &--app {
        order: 2;
        border: 2px solid #f2f2f2;
        width: 620px;
        margin: 0 auto 53px;
        background-color: transparent;
        min-height: 300px;

        .form__label {
          padding-left: 59px;
        }

        .form__legend {
          margin-bottom: 10px;
        }
      }

      &--achievments {
        order: 4;
        background-color: transparent;
        border: 2px solid #f2f2f2;
        width: 620px;
        margin-bottom: 57px;

        .form {
          &__legend {
            margin-bottom: 5px;
          }

          &__item {
            &-containter {
              margin-left: 60px;
              margin-top: 38px;
              margin-bottom: 4px;
            }
          }

          &__label {
            padding-left: 60px;
          }
        }
      }

      &--contact-data {
        border: 2px solid #f2f2f2;
        width: 620px;
        padding-bottom: 0;
        padding-top: 0;
        margin-bottom: 57px;

        .form {
          &__input-container {
            margin: 0;
            padding: 0;
            display: block;
          }

          &__label--contact {
            margin-top: 0;
            margin-left: 0;
            padding-right: 0;
            padding-left: 18px;
          }

          &__legend {
            display: block;
            margin-bottom: 33px;

            &--contact {
              margin-top: 0;
              padding-left: 24px;
            }
          }

          &__input-wrapper {
            display: flex;
            flex-direction: column-reverse;
            margin: 0 auto 19px;
            width: 500px;

            &--tel {
              position: relative;

              &::after {
                content: url("../img/icon-phone.svg");
                position: absolute;
                left: 461px;
                bottom: 70px;
                width: 20px;
                height: 20px;
              }

              &::before {
                content: "";
                width: 60px;
                height: 58px;
                background-color: @light-background;
                position: absolute;
                left: 441px;
                bottom: 49px;
              }
            }

            &--email {
              position: relative;

              &::after {
                content: url("../img/icon-mail.svg");
                position: absolute;
                left: 462px;
                bottom: 72px;
                width: 20px;
                height: 20px;
              }

              &::before {
                content: "";
                width: 60px;
                height: 58px;
                background-color: @light-background;
                position: absolute;
                left: 441px;
                bottom: 49px;
              }
            }
          }

          &__input {
            margin: 4px 0 8px;
            width: ~"calc( 100% - 21px)";
          }
        }
      }

      &--name {
        padding: 0 0 14px;
        width: 100%;
      }

      &--emotions {
        border: 2px solid #f2f2f2;
        width: 620px;
        padding: 0;

        .form__input {
          margin: 32px 60px 45px;
          width: 460px;
          min-height: 160px;
        }
      }
    }

    &__intstructions {
      display: inline;
    }

    &__submit {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 620px;
      margin: 0 auto;
      margin-bottom: 88px;
    }

    &__notice {
      margin: 0;
      width: 183px;
    }
  }

  .form__checkbox + .form__label::before {
    border: 2px solid @light-background;
  }

  .form__radio:checked + .form__label::before {
    background-image: url("../img/icon-map-marker.svg");
  }

  .form__radio + .form__label::before {
    border: 2px solid @light-background;
    width: 35px;
    height: 35px;
  }
}

@media (min-width: @desktop-width) {
  .form {
    width: 960px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 0 auto;
    margin-bottom: 64px;

    &__fieldset {
      border: 2px solid @light-background;
      width: 100%;

      div {
        flex-wrap: wrap;
      }

      &--app {
        padding: 0;
        width: 430px;
        min-height: 310px;
        margin: -45px 0 0 50px;

        .form__input--textarea {
          margin: 45px;
          width: 820px;
        }

        .form__item-containter {
          margin-left: 74px;
          margin-top: 41px;
        }
      }

      &--name {
        border: 0;
        width: 430px;
        padding: 0 0 22px;

        .form__legend {
          padding-right: 22px;
        }

        .form__input {
          margin: 9px 0 34px;
        }

        div {
          margin: 12px 0 2px;
          flex-wrap: nowrap;
        }
      }

      &--achievments {
        order: 4;
        width: 940px;

        .form__item-containter {
          flex-direction: column;
          flex-wrap: wrap;
          height: 173px;
        }
      }

      &--contact-data {
        width: 935px;

        .form__legend {
          padding-left: 24px;
          width: 200px;
        }

        .form__input {
          margin: 1px 0 7px;
          width: 350px;

          &-container {
            display: flex;
            justify-content: space-between;
            width: 820px;
            margin: 0 auto;
            flex-wrap: nowrap;
          }

          &-wrapper {
            margin: 0 71px 7px 0;
            width: 410px;
          }

          &-wrapper--tel {
            &::before {
              left: 312px;
              bottom: 48px;
            }

            &::after {
              left: 332px;
            }
          }

          &-wrapper--email {
            &::after {
              left: 333px;
            }

            &::before {
              left: 312px;
              bottom: 48px;
            }
          }
        }
      }

      &--emotions {
        width: 936px;
      }
    }

    &__input--textarea {
      margin: 15px 38px 34px 59px;
      width: 776px;
      padding: 14px 19px 17px;
      min-height: auto;
    }

    &__legend--hidden {
      display: block;
    }

    &__notice {
      width: 314px;

      &--extended {
        display: inline;
      }
    }

    &__submit {
      width: 940px;
      margin-bottom: 0;
    }
  }
}
