.page-main__header {
  margin: 45px 15px 32px;
  text-align: center;
  font-size: 14px;
  line-height: 30px;
  font-family: "Open Sans Light", "Arial", sans-serif;
  font-weight: 300;

  &-intstructions {
    display: none;
  }
}

@media (min-width: @tablet-width) {
  .page-main {
    &__header {
      font-size: 19px;
      // padding: 92px 45px 62px;
      margin: 92px auto 62px;
      width: 560px;

      &-devider {
        display: none;
      }

      &-intstructions {
        display: inline;
      }
    }
  }
}

@media (min-width: @desktop-width) {
  .page-main__header {
    // padding: 92px 0 62px;
    width: 767px;
    margin: 92px auto 62px;

    br {
      display: none;
    }
  }
}
