.contact-us {
  text-align: center;
  min-height: 615px;
  color: #283645;
}

.contat-us__slogan {
  font-size: 24px;
}

.contact-us__list {
  padding: 0;
  margin: 0 auto;
  list-style: none;
}

.contact-us__title {
  font-size: 18px;
}

.contact-us__content {
  color: #d22856;
  font-size: 24px;
}
