.download-app {
  color: white;
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: #1d2631;
  height: 270px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
}

.download-app__download-button {
  border-color: white;
}

.download-app__list {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  justify-content: space-around;
}

.download-app__item--apple {
  background-image: url("../img/logo-apple.svg");
  background-repeat: no-repeat;
  display: inline-block;
  background-position: center;
  width: 47px;
  height: 60px;
}

.download-app__item--android {
  background-image: url("../img/logo-android.svg");
  background-repeat: no-repeat;
  display: inline-block;
  background-position: center;
  width: 45px;
  height: 60px;
}

.download-app__item--windows {
  background-image: url("../img/logo-microsoft.svg");
  background-repeat: no-repeat;
  display: inline-block;
  background-position: center;
  width: 45px;
  height: 60px;
}

.download-app__slogan {
  margin: 0;
  padding: 0;
  font-size: 40px;
}

.download-app__slogan--visible {
  display: none;
}

@media (min-width: @tablet-width) {
  .download-app {
    height: 420px;
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-left: 20px;
    top: 100px;
    background-color: transparent;
  }

  .download-app__slogan--visible {
    display: inline;
  }
}

@media (min-width: @desktop-width) {
  .download-app {
    margin-left: 120px;
  }
}
