.download-app {
  color: white;
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: #1d2631;
  height: 269px;
  text-align: center;

  &__description {
    width: 240px;
    margin: 0 auto;
    font-size: 14px;
    letter-spacing: -0.5px;
    word-spacing: 2px;
    line-height: 24px;
    font-family: "Open Sans Light", "Arial", serif;
  }

  &__download-button {
    border-color: white;
    margin: 28px auto;
    line-height: 48px;
    display: block;
    font-weight: 700;
    letter-spacing: 2px;

    &:hover {
      background-color: white;
      color: @pink;
    }

    &:active {
      background-color: white;
      color: rgba(210, 40, 86, 0.3);
    }
  }

  &__list {
    display: flex;
    list-style: none;
    justify-content: space-around;
    padding: 0;
    margin: 32px auto 12px;
    width: 231px;
  }

  &__item {
    background-repeat: no-repeat;
    display: inline-block;

    &--apple {
      background-image: url("../img/logo-apple.svg");
      background-position: center, 0;
      width: 50px;
      height: 56px;
    }

    &--android {
      background-image: url("../img/logo-android.svg");
      background-position: 3px, 5px;
      width: 45px;
      height: 60px;
    }

    &--windows {
      background-image: url("../img/logo-microsoft.svg");
      background-position: 7px, 0;
      width: 51px;
      height: 60px;
    }
  }

  &__slogan {
    margin: 0;
    padding: 0;
    font-size: 40px;

    &--hidden {
      display: none;
    }
  }
}

@media (min-width: @tablet-width) {
  .download-app {
    min-height: 420px;
    width: 300px;
    top: 100px;
    background-color: transparent;

    &__download-button {
      width: 300px;
      margin: 28px 20px;
    }

    &__list {
      margin: 47px auto 12px 51px;
      width: 237px;
    }

    &__description {
      width: 304px;
      margin: 30px auto;
      font-size: 17px;
      margin-left: 18px;
      letter-spacing: 0.5px;
      word-spacing: 0;
    }

    &__slogan {
      font-family: "Open Sans Light", "Arial", sans-serif;
      padding-top: 103px;
      font-weight: 300;
      margin-left: 70px;
      line-height: 48px;
      width: 200px;

      &--hidden {
        display: block;
      }
    }
  }
}

@media (min-width: @desktop-width) {
  .download-app {
    margin-left: ~"calc(50% - 469px)";

    &__description {
      width: 300px;
      margin: 47px auto;
    }

    &__list {
      margin: 69px auto 12px 29px;
    }

    &__slogan {
      font-size: 50px;
      padding-top: 121px;
      line-height: 59px;
      width: 100%;
      margin: 0;
    }

    &__download-button {
      margin: 51px 0;
      line-height: 48px;
      font-size: 20px;
      letter-spacing: 1.5px;
    }
  }
}
