.editor {
  background-color: #f2f2f2;
  text-align: center;
  height: 760px;
}

.editor-preview__controls {
  list-style: none;
  display: flex;
}

.editor-preview__button {
  border-color: #d22856;
}

.editor-preview__column {
  margin: 60px auto 55px;
  width: 280px;
  height: 375px;
}

.editor-preview__img {
  background-image: url("../img/photo-7-mobile.jpg");
  background-repeat: no-repeat;
}

@media (min-width: @tablet-width) {
  .editor {
    height: 510px;
  }

  .editor-preview {
    display: flex;
  }

  .editor-preview__img {
    background-image: url("../img/photo-7-tablet.jpg");
    width: 300px;
    height: 400px;
  }
}

@media (min-width: @desktop-width) {
  .editor {
    height: 550px;
  }

  .editor-preview__img {
    background-image: url("../img/photo-7-desktop.jpg");
    width: 300px;
    height: 400px;
  }
}
