.features-list {
  margin: 0;
  padding: 0;
  margin-top: 112px;
  min-height: 390px;

  &__slogan {
    font-family: "Open Sans Bold", "Arial", sans-serif;
    font-size: 18px;
    line-height: 24px;
  }

  &__description {
    font-size: 14px;
    line-height: 24px;
    width: 255px;
  }

  &__item {
    display: flex;
    flex-direction: row;
    margin-bottom: 15px;

    &--horizontal {
      display: none;
    }
  }

  &__text {
    order: 2;
    margin: 0 auto;
  }

  &__img {
    order: 1;
    position: absolute;
    display: block;
    z-index: -2;
    left: ~"calc(50% - 91px)";
    bottom: -58px;
    transform: scale(0.85);

    &--hidden {
      display: none;
    }

    &--horizontal {
      display: none;
      justify-content: space-between;
    }
  }

  &__link {
    color: @pink;
    letter-spacing: -1.2px;
  }
}

@media (min-width: @tablet-width) {
  .features-list {
    margin: 0;
    padding: 0;
    margin-left: 50%;
    margin-top: 120px;

    &__description {
      width: 310px;

      &--horizontal {
        margin: 0.8em 0 0.9em;
        text-align: left;
      }
    }

    &__item {
      margin-bottom: 19px;

      &--horizontal {
        display: flex;
        background: white;
        min-height: 280px;
        padding-bottom: 13px;
      }
    }

    &__text {
      text-align: left;
      margin: 0;

      &--horizontal {
        width: 330px;
        text-align: left;
        order: 2;
        padding-left: 30px;
        padding-top: 67px;
        margin-left: ~"calc(50% - 329px)";
      }
    }

    &__img {
      left: ~"calc(50% - 269px)";
      bottom: 370px;
      transform: scale(1.44);

      &--horizontal {
        left: ~"calc(50% - 339px)";
        transform: scale(0.8);
        position: relative;
        top: 26px;
        z-index: 1;
        display: block;
      }
    }

    &__slogan {
      &--horizontal {
        font-size: 30px;
        line-height: 35px;
        padding-top: 30px;
        margin: 0;
      }
    }
  }
}

@media (min-width: @desktop-width) {
  .features-list__img--hidden {
    display: block;
  }

  .features-list {
    margin: 0 auto;
    display: flex;
    width: 940px;
    min-height: 570px;
    justify-content: space-between;
    flex-direction: row;
  }

  .features-list__item {
    flex-direction: column;
    width: 280px;
  }

  .features-list__img {
    position: relative;
    left: 0;
    bottom: 0;
  }

  .features-list__item--horizontal {
    display: flex;
    width: 940px;
    height: 350px;
    margin: 0 auto;
    margin-top: 70px;
    background: transparent;
  }

  .features-list__text--horizontal {
    width: 570px;
    text-align: left;
    order: 2;
  }
}
