.features-list{
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}
.features-list__slogan{
  font-size: 18;
  line-height: 24px;
}
.features-list__desription{
  font-size: 14px;
  line-height: 24px;
}
