.features {
  text-align: center;
  background: linear-gradient(0.475turn, #ffffff 30%, @light-background 30%);
  min-height: 1005px;
  position: relative;
}

.features__description {
  color: @dark-background;
  font-size: 24px;
  text-align: center;
}

.features__features-list {
  list-style: none;
  color: #000000;
}

@media (min-width: @tablet-width) {
  .features {
    min-height: 1110px;
  }

  .features__description {
    font-size: 40px;
  }
}

@media (min-width: @desktop-width) {
  .features {
    min-height: 1360px;
  }

  .features__description {
    margin-bottom: 120px;
  }
}
