.features {
  text-align: center;
  background: linear-gradient(1.488turn, #ffffff 21%, @light-background 21%);
  min-height: 1005px;
  position: relative;
  z-index: -4;

  &__description {
    color: @dark-background;
    font-size: 24px;
    text-align: center;
    margin: 0 20px;
    padding: 26px 0 0 0;
    line-height: 30px;
    letter-spacing: -0.4px;

    &-containter {
      margin-top: 16px;
    }
  }
}

.features__features-list {
  list-style: none;
  color: #000000;
}

@media (min-width: @tablet-width) {
  .features {
    min-height: 1110px;

    // &__features-list {
    //   width: 310px;
    //   margin-left: auto;
    //   margin-right: 20px;
    //   margin-top: 120px;
    // }

    &__description {
      font-size: 40px;
      letter-spacing: 0;

      &-containter {
        margin-top: 30px;
        font-family: "Open Sans Light", "Arial", sans-serif;
        font-weight: 300;
      }
    }
  }

  p.features__description:nth-child(2) {
    width: 400px;
    padding-top: 8px;
    margin: 0 auto;
    line-height: 49px;
  }
}

@media (min-width: @desktop-width) {
  .features {
    min-height: 1360px;
  }

  .features__description {
    margin-bottom: 120px;
  }
}
