.footer {
  text-align: center;
  position: relative;

  &__developed {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: black;

    &-text {
      padding-right: 14px;
      font-size: 14px;
    }

    &-logo {
      fill: @pink;
    }
  }
}

.footer__social {
  display: flex;
  justify-content: space-between;
  list-style: none;
  padding: 0;
  margin-right: 17px;
  width: 178px;
}

.footer__logo {
  position: relative;
  top: -6px;
  left: -46px;
}

.footer__more {
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.footer__more--index {
  display: none;
}

.footer__social-item {
  background-repeat: no-repeat;
  background-position: center;
  display: inline-block;
  vertical-align: middle;
  width: 46px;
  height: 46px;
  border: 2px solid @light-background;
  border-radius: 50%;
}

.footer__social-item--youtube {
  background-image: url("../img/icon-youtube.svg");
}

.footer__social-item--facebook {
  background-image: url("../img/icon-facebook.svg");
}

.footer__social-item--twitter {
  background-image: url("../img/icon-twitter.svg");
}

.footer--not-index {
  flex-direction: column;
  display: flex;
  min-height: 208px;
  justify-content: space-between;
  padding-bottom: 35px;
}

.footer__logo-dot {
  display: none;
}

.footer__logo-i {
  display: none;
  fill: @pink;
}

.footer__logo-glasses {
  fill: @pink;
  display: none;
}

.footer__logo-glasses-cropped {
  fill: @pink;
  display: none;
}

@media (min-width: @tablet-width) {
  .footer {
    &__more {
      display: flex;
      min-height: 130px;
      box-sizing: border-box;
      width: 620px;
      margin: 0 auto;
    }
  }

  .footer--index {
    min-height: 905px;
    overflow: hidden;
  }

  .footer--not-index {
    flex-direction: row;
    padding: 0;
    align-items: flex-start;
  }

  .footer__logo-glasses {
    display: inline-block;
  }
}

@media (min-width: @desktop-width) {
  .footer--index {
    min-height: 1067px;
  }

  .footer__more {
    width: 930px;
    min-height: 197px;
  }

  .footer__logo-dot,
  .footer__logo-i {
    display: inline-block;
  }

  .footer__logo-glasses {
    display: none;
  }

  .footer__logo-glasses-cropped {
    display: inline-block;
  }
}
