.form {
  font-size: 18px;
  line-height: 30px;
  display: flex;
  flex-direction: column;

  &__fieldset {
    border: 0;
    margin: 0;
    padding: 0 0 30px;


    div {
      display: flex;
      flex-direction: column;
      padding-left: 4px;
      margin-bottom: 13px;
    }

    &--name {
      order: 1;
      margin-left: ~"calc(50% - 143px)";
    }

    &--contact-data {
      order: 3;
      margin-left: ~"calc(50% - 143px)";
      padding-top: 28px;
    }

    &--app {
      order: 4;
      background-color: @light-background;
      min-height: 340px;

      .form__label {
        margin-left: ~"calc(50% - 113px)";
      }
    }

    &--achievments {
      order: 2;
      background-color: @light-background;
      padding: 0;

      div {
        padding-left: 28px;
        margin: 0 auto 42px;
      }

      .form__label {
        margin-left: ~"calc(50% - 113px)";
      }
    }

    &--emotions {
      order: 5;
    }
  }

  &__header {
    display: block;
    color: @pink;
    text-align: center;
    text-transform: uppercase;
    font-size: 14px;
    padding-top: 37px;
    line-height: 19px;
    margin-bottom: 38px;
  }

  &__item {
    min-height: 40px;
    margin-bottom: 42px;
  }

  &__intstructions {
    display: none;
  }

  &__input {
    &--text {
      color: @dark-background;
      font-size: 18px;
      height: 56px;
      width: 255px;
      padding-left: 19px;
    }

    &--textarea {
      width: 280px;
      min-height: 200px;
    }
  }

  &__label {
    color: @pink;
    line-height: 34px;
    padding-left: 28px;

    &--contact {
      text-transform: uppercase;
      font-size: 14px;
      padding-left: 22px;
      margin-bottom: 5px;
    }
  }

  &__legend {
    color: @pink;
    text-transform: uppercase;
    font-size: 14px;

    &--hidden {
      display: none;
    }
  }
}

.form__checkbox:checked + .form__label::before {
  background-image: url("../img/tick.png");
}

.form__checkbox + .form__label::before {
  content: "";
  position: absolute;
  left: ~"calc(50% - 141px)";
  display: inline-block;
  width: 50px;
  height: 40px;
  background-image: url("../img/no-tick.png");
  background-repeat: no-repeat;
  background-position: left center;
}

.form__radio:checked + .form__label::before {
  background-image: url("../img/tick-radio.png");
}

.form__radio + .form__label::before {
  content: "";
  position: absolute;
  left: ~"calc(50% - 141px)";
  display: inline-block;
  width: 50px;
  height: 40px;
  background-image: url("../img/tick-radio-empty.png");
  background-repeat: no-repeat;
  background-position: left center;
}

@media (min-width: @tablet-width) {
  .form {
    &__label--contact {
      padding-left: 0;
      padding-right: 20px;
    }

    &__input--text {
      width: 100%;
      margin: 10px 0 55px;
    }

    &__fieldset {
      div {
        flex-direction: row;
      }

      &--app {
        order: 2;
      }

      &--achievments {
        order: 4;
      }
    }

    &__intstructions {
      display: inline;
    }
  }
}

@media (min-width: @desktop-width) {
  .form {
    width: 960px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 0 auto;

    &__fieldset {
      border: 2px solid @light-background;
      width: 100%;

      div {
        flex-wrap: wrap;
      }

      &--app {
        border: 2;
        width: 450px;
        padding: 0;
        margin: 0;
        background: none;
      }

      &--name {
        border: 0;
        width: 450px;
      }

      &--achievments {
        order: 4;
      }

      &--emotions {
        .fieldset__label {
          display: none;
        }
      }
    }

    &__input--textarea {
      width: 100%;
    }

    &__legend--hidden {
      display: inline;
    }
  }
}
