.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: 400;
  outline-color: @pink;
}

@media (min-width: @tablet-width) {
  .wrapper {
    width: 660px;
  }

  .slider {
    display: none;
  }
}

@media (min-width: @desktop-width) {
  .wrapper {
    width: 1200px;
  }
}
