.main-nav__sub-menu {
  list-style: none;
  padding: 0;
  margin: 0;
  display: none;
}

.main-nav__item {
  background-color: rgba(40, 54, 69, 0.3);
  width: 100%;
  min-height: 65px;
  text-align: center;
}

.main-nav__link {
  color: white;
  opacity: 1;
  text-transform: capitalize;
  font-size: 18px;
  text-decoration: none;
  text-align: center;
}

.main-nav__menu {
  min-height: 460px;
}

.main-nav__item--hidden {
  display: none;
}

@media (min-width: @desktop-width) {
  .main-nav__sub-menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    min-height: 110px;
  }

  .main-nav__menu {
    display: flex;
    justify-content: space-between;
    min-height: 110px;
  }

  .main-nav__menu-button {
    display: none;
  }
}
