.main-nav {
  display: flex;
  min-height: 67px;
  justify-content: space-between;
  background-color: rgba(0, 0, 0, 0.3);
  text-align: center;
}

.main-nav__sub-menu {
  list-style: none;
  padding: 0;
  margin: 0;
  display: none;
}

.main-nav__link {
  color: white;
  opacity: 1;
  text-transform: capitalize;
  font-size: 18px;
  text-decoration: none;
  text-align: center;
}

.main-nav__item {
  width: 150px;
}

.main-nav__item--hidden {
  display: none;
}

@media (min-width: @desktop-width) {
  .main-nav {
    min-height: 110px;
  }
}

@media (min-width: @desktop-width) {
  .main-nav__sub-menu {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
  }

  .main-nav__button {
    display: none;
  }
}
