.pricing {
  background-color: #f2f2f2;
  min-height: 450px;
  text-align: center;
  margin: 0 auto;
  padding: 0;
}

.pricing__plan-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.pricing__billing-plan {
  background-color: #283645;
  color: white;
  height: 100px;
}

.pricing__table {
  border-collapse: collapse;
  width: 100%;
}

.pricing__table-row {
  height: 60px;
}

.pricing__table-cell {
  width: 70px;
}

.pricing__table-cell--yes {
  background-image: url("../img/yes.png");
  background-repeat: no-repeat;
  background-position: center;
}

.pricing__table-cell--no {
  background-image: url("../img/no.png");
  background-repeat: no-repeat;
  background-position: center;
}

.pricing__plan-list--desktop {
  display: none;
}

.pricing__table-row--header {
  height: 100px;
}

.pricing__title,
.pricing__price {
  display: block;
}

.pricing__billing-plan--rowspanned {
  display: table-caption;
  width: 320px;
}

@media (min-width: @tablet-width) {
  .pricing {
    height: 325px;
  }

  .pricing__table {
    border: 1px solid black;
  }

  .pricing__table-cell {
    width: 155px;
  }

  .pricing__plan-list--mobile {
    display: none;
  }

  .pricing__plan-list--desktop {
    display: table;
  }
}

@media (min-width: @desktop-width) {
  .pricing {
    height: 440px;
  }

  .pricing__plan-list--mobile {
    display: none;
  }

  .pricing__table {
    border: 1px solid black;
  }

  .pricing__table-cell {
    width: 235px;
  }

  .pricing__plan-list--desktop {
    display: table;
  }
}
