.pricing {
  background-color: @light-background;
  // min-height: 450px;
  text-align: center;
  margin: 0 auto;
  padding: 0;

  &__wrapper {
    overflow: hidden;
    width: 100%;
  }

  &__toggles {
    margin-top: 35px;
    margin-left: ~"calc(50% - 74px)";
    padding-bottom: 45px;
  }

  &__feature {
    display: none;
  }
}

.pricing__plan-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.pricing__billing-plan {
  background-color: @dark-background;
  color: white;
  min-height: 97px;
  text-align: center;
}

.pricing__table {
  border-collapse: collapse;
  width: 840px;
  margin-left: ~"calc(50% - 418px)";
  text-transform: uppercase;
  text-align: left;
}

.pricing__table-row {
  height: 60px;
}

.pricing__table-cell {
  width: 280px;
  background-color: white;
  background-position: 230px center;
  background-repeat: no-repeat;
  padding: 0;
  border: 2px solid #f2f2f2;

  &-name {
    padding: 0 0 0 21px;
    font-size: 14px;
    line-height: 18px;
  }

  &--yes {
    background-image: url("../img/yes.png");
  }

  &--no {
    background-image: url("../img/no.png");
  }
}

.pricing__table-row--header {
  min-height: 120px;
}

.pricing__title,
.pricing__price {
  display: block;
}

.pricing__title {
  font-family: "Open Sans Bold", "Arial", sans-serif;
  padding-top: 21px;
  letter-spacing: 1.2px;
}

.pricing__price {
  padding-top: 8px;
  font-size: 24px;
  font-family: "Open Sans Light", "Arial", sans-serif;
}

.pricing__billing-plan--rowspanned {
  display: table-caption;
  width: 320px;
}

@media (min-width: @tablet-width) {
  .pricing {
    min-height: 325px;

    &__wrapper {
      padding-top: 33px;
    }

    &__toggles {
      display: none;
    }

    &__feature {
      display: table-cell;
    }

    &__billing-plan {
      min-height: 79px;
    }

    &__title {
      padding-top: 18px;
      letter-spacing: normal;
    }

    &__price {
      font-size: 18px;
    }
  }

  .pricing__table {
    width: 620px;
    margin: auto;

    &-row {
      height: 46px;
    }

    &-cell {
      width: 155px;
      background-position: center;

      &-name {
        text-transform: none;
        font-weight: 400;

        &--hidden {
          display: none;
        }
      }
    }
  }

  .pricing__plan-list--brief {
    display: none;
  }

  .pricing__plan-list--detailed {
    display: table;
  }
}

@media (min-width: @desktop-width) {
  .pricing {
    min-height: 440px;
  }

  .pricing__plan-list--brief {
    display: none;
  }

  .pricing__table-cell {
    width: 235px;
  }

  .pricing__plan-list--detailed {
    display: table;
  }
}
