.pricing{
  background-color: #f2f2f2;
  min-height: 380px;
  text-align: center;
  margin: 0 auto;
  padding: 0;
}
.pricing__plan-list{
  margin: 0;
  padding: 0;
  list-style: none;
}
.pricing__billing-plan{
  background-color: #283645;
  color: white;
  height: 100px;
}
.pricing__table{
  border-collapse: collapse;
  width: 100%;
}
.pricing__table--row{
  height: 60px;
}
