.reviews {
  text-align: center;
  background: linear-gradient(0.48turn, #ffffff 90%, #f2f2f2 90%);
  height: 380px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.reviews__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.reviews__item {
  margin: 0;
  padding: 0;
}

.reviews__author-name {
  font-style: normal;
  font-weight: bold;
}

.reviews__author-proffesion {
  display: none;
}

@media (min-width: @tablet-width) {
  .reviews {
    height: 320px;
  }

  .reviews__author-name {
    font-size: 20px;
  }

  .reviews__author-proffesion {
    display: inline;
  }
}

@media (min-width: @desktop-width) {
  .reviews {
    height: 500px;
    // width: 960px;
  }

  .reviews__author-name {
    display: block;
    font-size: 24px;
  }

  .reviews__author-proffesion {
    display: block;
  }
}
