.reviews {
  text-align: center;
  background: linear-gradient(0.49turn, #ffffff 80%, @light-background 80%);
  min-height: 443px;
  margin-top: -24px;

  &__text {
    font-size: 14px;
    line-height: 30px;
    margin: 0 auto;
    margin-top: 19px;
    width: 280px;
  }
}

.reviews__list {
  margin: 0;
  margin-top: 7px;
  padding: 0;
  padding-top: 47px;
  list-style: none;
}

.reviews__item {
  margin: 0;
  padding: 0;
}

.reviews__author-name {
  font-family: "Open Sans Bold", "Arial", sans-serif;
  font-size: 18px;
  font-style: normal;
}

.reviews__author-proffesion {
  display: none;
}

@media (min-width: @tablet-width) {
  .reviews {
    min-height: 320px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  .reviews__author-name {
    font-size: 20px;
  }

  .reviews__author-proffesion {
    display: inline;
  }
}

@media (min-width: @desktop-width) {
  .reviews {
    min-height: 500px;
  }

  .reviews__author-name {
    display: block;
    font-size: 24px;
  }

  .reviews__author-proffesion {
    display: block;
  }
}
