body{
  margin: 0;
  padding: 0;
  width: 320px;
  font-family: 'Open Sans', sans-serif;
}
.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}
//
// @media (max-width: 320px) {
//   body {
//     width: 320px;
//   }
// }

@import "header.less";
@import "main-nav.less";
@import "download-app.less";
@import "features.less";
@import "features-list.less";
