.user-photo {
  text-align: center;
  color: #283645;
  font-size: 14px;
}

.user-photo__recent-uploads {
  list-style: none;
  padding: 0;
}

.user-photo__item {
  width: 280px;
  margin: 0 auto 20px;
  background-color: #f2f2f2;
  text-align: left;
}

.user-photo__title {
  font-size: 14px;
  line-height: 30px;
}

.user-photo__comment {
  line-height: 24px;
}

.user-photo__likes-total {
  color: #d22856;
  font-size: 12px;
}
