.user-photo {
  margin: 0 auto;
  text-align: center;
  color: @dark-background;
  font-size: 14px;

  &__comment {
    line-height: 24px;
    order: 3;
    margin: 6px 0 12px;
  }

  &__date {
    order: 2;
  }

  &__description {
    margin: 0 auto;
    padding: 18px 18px 25px;

    &--wide {
      margin: 0 20px;
      background-color: @light-background;
    }
  }

  &__item {
    width: 280px;
    margin: 0 auto 20px;
    background-color: @light-background;
    text-align: left;
    background-repeat: no-repeat;
    background-position: top;
    background-size: 100%;
    position: relative;

    &--wide {
      position: relative;
      width: 100%;
      display: block;
      background: none;
    }
  }

  &__likes-total {
    color: @pink;
    font-size: 12px;
    padding-left: 30px;
    order: 4;

    &::after {
      content: url("../img/icon-heart.svg");
      position: relative;
      left: -112px;
    }
  }

  &__recent-uploads {
    margin: 0 auto;
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  &__slogan {
    line-height: 30px;
    margin: 24px 0 0;
  }

  &__title {
    margin: 3.2em 0 3.5em;
    font-size: 14px;
    line-height: 30px;
    font-family: "Open Sans Light", "Arial", sans-serif;
    font-weight: 300;
  }

  &__username {
    order: 1;
  }
}

@media (min-width: @tablet-width) {
  .user-photo__recent-uploads {
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 620px;
  }

  .user-photo {
    overflow: hidden;

    &__item {
      width: 300px;
      height: 455px;
      margin: 0 0 20px;

      &--wide {
        width: 660px;
        height: 100%;
      }
    }

    &__likes-total {
      padding-left: 0;

      &--wide {
        order: 3;
        margin-left: auto;
      }

      &::after {
        left: 260px;
        position: absolute;
      }
    }

    &__description {
      padding: 26px 28px;
      display: flex;
      flex-direction: column;
      height: 100px;

      &--wide {
        flex-direction: row;
        width: 565px;
        padding: 24px 28px 12px;
        flex-wrap: wrap;
        align-self: center;
        height: auto;

        .user-photo__likes-total {
          &--wide {
            margin-right: 36px;
            position: relative;

            &::after {
              left: 90px;
            }
          }
        }
      }
    }

    &__comment {
      margin: 5px 0 13px;
      flex-grow: 1;

      &--wide {
        order: 4;
      }
    }

    &__slogan {
      font-size: 18px;
      line-height: 31px;
      margin: 45px 0 67px;
    }

    &__title {
      width: 543px;
      margin: 4.9em auto 3.95em;
      font-size: 19px;
      line-height: 30px;

      br {
        display: none;
      }

      &--wide {
        height: 230px;
      }
    }
  }
}

@media (min-width: @desktop-width) {
  .user-photo__recent-uploads {
    width: 940px;
    padding: 0 2px 0 7px;
  }

  .user-photo {
    &__description {
      &--wide {
        margin: 0 auto;
        width: 877px;
        flex-direction: row;
        height: 70px;
        padding: 24px 28px 0;
      }
    }

    &__comment {
      &--wide {
        margin: -7px 0 13px;
      }
    }

    &__item {
      height: 100%;
      margin: 0 0 53px;

      &--wide {
        width: 100%;
        height: auto;
      }
    }

    &__img {
      width: 100%;
    }

    &__title--wide {
      height: 245px;
    }

    &__slogan {
      margin: 3px 0 67px;
    }

    &__title {
      width: 598px;
      margin: 4.9em auto 4.6em;
      word-spacing: -1px;
      padding-left: 9px;

      br {
        display: block;
      }
    }

    &__user {
      &--wide {
        width: 500px;
      }
    }
  }
}
